$siteWidth: 1200px;
$textColor: #8A2BE2;
$gap: 16px;
$itemBorder: 1px solid #000;
@mixin centerflex() {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@mixin params($lh, $fsz, $fw, $fs) {
    line-height: $lh;
    font-size: $fsz;
    font-weight: $fw;
    font-style: $fs;
    color: $textColor;
    border: $itemBorder;
    margin-top: 10vh;
}

.container {
    width: $siteWidth;
    &__color {
        color: $textColor;
    }
}

// comment
.nav {
    display: flex;
    gap: $gap;
    &__link {
        text-decoration: none;
        @extend %centerflex !optional;
    }
}

.content {
    @include centerflex();
    display: flex;
    gap: $gap;
    &__item {
        width: $siteWidth / 4;
        height: 200px;
        border: $itemBorder;
    }
}

.block-0 {
    @include params(32px, 26px, 400, italic);
}

.block-1 {
    @include params(100px, 12px, 300, normal);
}