@import 'vars';
@import 'mixins';
%flex {
    display: flex;
    flex-wrap: wrap;
}

* {
    margin: 0;
    padding: 0;
}

summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}

body {
    font-family: 'latoblack';
}

a {
    text-decoration: none;
    color: $colorText;
}

.box-content {
    overflow: hidden;
}

.center {
    padding-left: calc(50% - $widthSite / 2);
    padding-right: calc(50% - $widthSite / 2);
}

.header {
    background-color: $backBlock;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    // @extend %flex;
    &__left {
        display: flex;
        align-items: center;
        gap: 41px;
        // @extend %flex;
    }
}

#burger {
    position: absolute;
    left: -999999px;
    visibility: hidden;
    &:checked~.nav {
        right: -$widthBurgerMenu;
    }
}

.nav {
    background: #FFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    width: $widthBurgerMenu;
    padding: 32px;
    box-sizing: border-box;
    position: absolute;
    top: 80px;
    right: 0;
    transition: right 0.3s;
}

.top-head {
    background-color: #F8F3F4;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__heading {
        color: $colorSelectSite;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 29px;
    }
}

.breadcrumbs__link {
    color: #636363;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    &_site {
        color: $colorSelectSite;
        font-weight: 700;
    }
}

.filter {
    padding-top: 13px;
    width: 360px;
    box-sizing: border-box;
    position: relative;
    z-index: 10;
    &[open] {
        background: #FFF;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    }
    &__content {
        background-color: #fff;
        padding: 0 16px 16px 16px;
    }
    &[open] .filter__heading {
        color: $colorSelectSite;
    }
    &[open] path {
        fill: $colorSelectSite;
    }
    &__summary {
        display: flex;
        align-items: center;
        gap: 11px;
        padding-left: 16px;
    }
    &-sort {
        height: 132px;
        padding-top: 39px;
        box-sizing: border-box;
        position: relative;
        display: flex;
        gap: $gapGrid;
    }
    &__heading {
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    &__item {
        margin-top: 16px;
        &__heading {
            color: #6F6E6E;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding: 8px 11px 11px 11px;
            border-bottom: 1px solid #EBEBEB;
            border-left: 5px solid $colorSelectSite;
        }
    }
    &__link {
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        color: #6F6E6E;
        &:hover {
            color: $colorSelectSite;
        }
        &-box {
            display: flex;
            flex-direction: column;
            gap: 11px;
            padding: 24px 16px;
        }
    }
    &__item[open] .filter__item__heading {
        color: $colorSelectSite;
    }
}

.sort {
    padding-top: 12px;
    display: flex;
    gap: 18px;
    &__details {
        position: relative;
    }
    &__summary {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &__heading {
        color: #6F6E6E;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    &__box {
        display: flex;
        flex-direction: column;
        gap: 8px;
        background: #FFF;
        box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
        padding: 7px 30px 11px 9px;
        position: absolute;
        left: -9px;
        top: 22px;
    }
    &__check {
        display: flex;
        gap: 9px;
        align-items: center;
        color: #6F6E6E;
        font-family: Roboto, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.product {
    width: $thirdSite;
    display: flex;
    flex-direction: column;
    &__img {
        width: 100%;
    }
    &__content {
        background-color: #F8F8F8;
        padding: 24px 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    &__name {
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
    }
    &__text {
        font-family: 'latolight';
        color: #5D5D5D;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
    &__price {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $colorSelectSite;
    }
    &-box {
        @include centerflex();
        gap: $gapGrid;
    }
}