body {
    padding-top: 100px;
}

.dsc {
    font-size: 20px;
    padding: 10px;
}

.dsc-1 {
    background-color: gold;
    position: fixed;
    bottom: 0;
}

.dsc-2 {
    background-color: pink;
    /* position: absolute;
    top: 240px;
    /* left: -1000px; */
    /* bottom: 0; 
    left: 30%;
    right: 30%; */
}

.dsc-3 {
    background-color: aqua;
    /* width: 100px;
    height: 100px;
    z-index: 10;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-60%, -95%); */
}